@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/PTSans/PTSans-Regular.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/PTSans/PTSans-Regular.woff) format("woff"),
  url(/assets/fonts/PTSans/PTSans-Regular.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/Roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Roboto/Roboto-Medium.woff) format("woff"),
  url(/assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url(/assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Montserrat/Montserrat-Bold.woff) format("woff"),
  url(/assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url(/assets/fonts/Montserrat/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Montserrat/Montserrat-SemiBold.woff) format("woff"),
  url(/assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Montserrat/Montserrat-Regular.woff) format("woff"),
  url(/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/PTSans/PTSans-Regular.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/PTSans/PTSans-Regular.woff) format("woff"),
  url(/assets/fonts/PTSans/PTSans-Regular.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/Roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Roboto/Roboto-Medium.woff) format("woff"),
  url(/assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url(/assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Montserrat/Montserrat-Bold.woff) format("woff"),
  url(/assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url(/assets/fonts/Montserrat/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Montserrat/Montserrat-SemiBold.woff) format("woff"),
  url(/assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),
  url(/assets/fonts/Montserrat/Montserrat-Regular.woff) format("woff"),
  url(/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
